<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>
              Fideligard Stock Trade Simulator
            </h3>
            <hr class="star-primary">

            <%= image_tag "https://cdn0.iconfinder.com/data/icons/simple-seo-1/171/file_text-39-512.png", class: "img-rounded", style: "height: 150px", alt: "Stock Trade" %>
            <p>
              Fideligard lets you 'slide' through time and make stock investments to practice your ability to predict future market price fluctuations (Buy low, sell high).
            </p>
            <p>
              Fideligard is a AngularJS JavaScript single-page web application using services, directives, ui-router, and good modular code to create a stock portfolio simulator using Yahoo's finance API trading data. A <%= link_to "Viking Code School", 'http://vikingcodeschool.com', :target => "_blank", rel: "Viking Code School" %> Project.
            </p>

            <ul class="list-inline item-details">
                <li>Live Demo:
                    <strong><%= link_to "Play!", 'https://rawgit.com/david-meza/fideligard-stock-simulator/master/index.html', :target => "_blank", rel: "Stock Simulator Demo" %>
                    </strong>
                </li>
                <li>Date:
                    <strong>July 6, 2015
                    </strong>
                </li>
                <li>Platform:
                    <strong>AngularJS and <%= link_to "Github", 'https://github.com/david-meza', :target => "_blank", rel: "My Github Profile" %>
                    </strong>
                </li>
            </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>