<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hi! Welcome to my website. Software development is my life. I recently graduated from the <a href="http://umo.edu">University of Mount Olive</a> with a BS degree in Management Information Systems (MIS). Not long after that, I joined <a href="http://vikingcodeschool.com">Viking Code School</a> to learn professional web development and to strengthen my skills as a programmer.
      	</p>
  		</div>
  		<div class="col-lg-4">
      <p>
          Now, after gaining coding superpowers, I am looking for the next step in my career and join a team of talented individuals where I can put my skills to good use, and save the world. That, and travelling around the world will suffice, for now.
      </p>
  	</div>
  	<div class="col-lg-8 col-lg-offset-2 text-center">
      <%= link_to download_resume_path, :class => "btn btn-lg btn-outline" do %>
        <i class="fa fa-download"></i> View My Resume
      <% end %>
    </div>
  </div>
</section>