<!-- About Section -->
<section class="success" id="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h3>TLDR</h3>
        <p id="tldr">
          I am truly passionate about software engineering. I love learning new programming languages and frameworks and can be a strong asset to a company that is looking for a committed team player to collaborate in their development endeavors.
        </p>

        <h3>Background</h3>
        <p id="background">
          I have always been fascinated by technology. From a very early age (since elementary school), I've been looking for ways to build cool things in a logical way. I remember I started with using Turbo Pascal with Turtle graphics, doing simple things like drawing a house, then as time progressed I moved forward into more complex things. I attended college and graduated with a major in MIS, and during that time I supplemented my studies with online courses on programming. Not being satisfied with the results of my education, shortly after graduation I decided to attend a prestigious code bootcamp (Viking Code School) to teach me more about professional software engineering. It was hard, and challenging, and now I'm more than prepared for the next step in my dream career.
        </p>
      </div>

      <div class="col-md-5">
        <h3>Technologies</h3>
        <p id="technologies">
          I am most familiar working with Ruby, Rails, and PostgreSQL in the back end, and HTML5, CSS3, Javascript, and AngularJS in the front end. Some frameworks and libraries that I use include Bootstrap, and jQuery. Other supporting practices I use are Github for version control, Heroku for app deployment in a cloud platform, and CSS pre-processors like Sass.
        </p>
        <h3>Goals</h3>
        <p id="goals">
          I have a strong desire to grow as a programmer. I am always striving to commit better code, and I want to work for a company that expects that of me. While I would be most comfortable to work at a place which employs the technologies I am familiar with, I pick up languages and frameworks quickly and would be happy to acquire new skills and knowledge. I am interested in both front and backend positions, particularly when they deal with things like big data, data visualization, and data science.
        </p>
      </div>
    </div>

    <div class = "row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <%= link_to download_resume_path, :class => "btn btn-lg btn-outline", id: "resume-link" do %>
          <i class="fa fa-download"></i> View My Resume
        <% end %>
      </div>
    </div>

  </div>
</section>