<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag "profile.png", class: "img-responsive" %>
        <div class="intro-text">
          <span class="name">David Meza</span>
          <hr class="star-light">
          <span class="skills">Full Stack Software Engineer - Ruby on Rails Fan - Code Addict</span>
        </div>
      </div>
    </div>
  </div>
</header>